# <center>Day 6</center>

## ðŸ“ Practice Questions

In [2]:
'''
    1. Define joint probability.
    -> Joint probability is P(A and B), the chance both events occur together.

    2. What is marginal probability?
    -> Marginal probability is P(A), the chance of single event occurring.

    3. Why contingency tables are useful?
    -> Grids that make joint/marginal probs easy to read and spot links between variables.
'''

'\n    1. Define joint probability.\n    -> Joint probability is P(A and B), the chance both events occur together.\n\n    2. What is marginal probability?\n    -> Marginal probability is P(A), the chance of single event occurring.\n\n    3. Why contingency tables are useful?\n    -> Grids that make joint/marginal probs easy to read and spot links between variables.\n'

## ðŸ“Œ Mini Assignment
Create Student Pass/Fail vs Gender dataset and analyze probabilities.

In [3]:
import pandas as pd
import numpy as np

np.random.seed(90)
student = pd.DataFrame({
    'Gender': np.random.choice(['Male', 'Female'], size=200),
    'Result': np.random.choice(['Pass', 'Fail'], size=200),
})
student.head()

   Gender Result
0  Female   Pass
1  Female   Fail
2    Male   Fail
3  Female   Pass
4  Female   Pass

In [4]:
prob_male = len(student[student['Gender'] == 'Male']) / len(student)

print(f'Probability of male events: {prob_male}')

Probability of male events: 0.525

In [5]:
prob_female = len(student[student['Gender'] == 'Female']) / len(student)

print(f'Probability of female events: {prob_female}')

Probability of female events: 0.475

In [6]:
prob_gender = student['Gender'].value_counts(normalize=True)
prob_gender

Gender
Male      0.525
Female    0.475
Name: proportion, dtype: float64

In [7]:
prob_result = student['Result'].value_counts(normalize=True)
prob_result

Result
Pass    0.5
Fail    0.5
Name: proportion, dtype: float64

In [8]:
prob_male_pass = len(student[(student['Gender'] == 'Male') & (student['Result'] == 'Pass')]) / len(student)
print(f'Probability of male who passed: {prob_male_pass}')

Probability of male who passed: 0.285

In [9]:
prob_female_pass = len(student[(student['Gender'] == 'Female') & (student['Result'] == 'Pass')]) / len(student)
print(f'Probability of female who passed: {prob_female_pass}')

Probability of female who passed: 0.215

In [10]:
prob_male_fail = len(student[(student['Gender'] == 'Male') & (student['Result'] == 'Fail')]) / len(student)
print(f'Probability of male who failed: {prob_male_fail}')

Probability of male who failed: 0.24

In [11]:
prob_female_fail = len(student[(student['Gender'] == 'Female') & (student['Result'] == 'Fail')]) / len(student)
print(f'Probability of female who failed: {prob_female_fail}')

Probability of female who failed: 0.26

In [12]:
contingency_table = pd.crosstab(student['Gender'], student['Result'])
contingency_table

Result  Fail  Pass
Gender
Female    52    43
Male      48    57

In [13]:
joint_prob_tabel = contingency_table / contingency_table.values.sum()
joint_prob_tabel

Result  Fail   Pass
Gender
Female  0.26  0.215
Male    0.24  0.285

In [14]:
contingency_table = pd.crosstab(student['Gender'], student['Result'], normalize=True,margins=True)
contingency_table

Result  Fail   Pass    All
Gender
Female  0.26  0.215  0.475
Male    0.24  0.285  0.525
All     0.50  0.500  1.000